/* 1. Importar las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

/* 2. Estilos del Cuerpo (Body) */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;         
  color: #333333;             
  text-align: justify;        
  background-color: #f4f6f7;
}

/* 3. Estilos de los Títulos (H1 - H6) */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;             
  margin-top: 1.5em;          
}

/* 4. AJUSTE DE ANCHO */
.main-container {
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
}